.search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.1rem;

  .search-input {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .search-form {
    margin: 0 auto;
    flex-direction: row;
    gap: 0.5rem;
  }

  .page-wrapper {
    width: 75%;
    margin: 0 auto;
  }
}
