.search-form {
  display: flex;
  gap: 0.5rem;

  .search-input {
    flex: 1;
  }
}

.makes-list {
  height: 400px;
  width: 100%;

  .make {
    height: 50px;
    display: block;
  }
}

@media (min-width: 768px) {
  .search-form {
    width: 50%;
    margin: auto;
  }
}
