@use '@angular/material' as mat;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  --app-bg-deep: #121416;
  --app-bg-mid: #1c2024;
  --app-bg-highlight: #2d3238;
  --page-padding: 2rem;
  --navbar-size: var(--mat-toolbar-standard-height, 64px);
}

body {
  color-scheme: dark;
  margin: 0;
  height: 100%;

  background: radial-gradient(
    circle at 50% -10%,
    var(--app-bg-highlight) 0%,
    var(--app-bg-mid) 45%,
    var(--app-bg-deep) 100%
  );
  background-attachment: fixed;

  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

h1,
h2,
.title {
  text-align: center;
  font-style: italic;
}

h2 {
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 2 * var(--page-padding) - var(--navbar-size));
  gap: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.error-snackbar {
  --mdc-snackbar-container-color: #b00020;
  --mdc-snackbar-label-text-color: white;
  --mat-snack-bar-button-color: white;
}
