<div class="header-row" role="rowgroup">
  <div class="row" role="row">
    <div class="cell header-cell" role="columnheader">Name</div>
    <div class="cell header-cell" role="columnheader">ID</div>
  </div>
</div>

<cdk-virtual-scroll-viewport itemSize="48" minBufferPx="400" maxBufferPx="800" class="viewport">
  <div
    *cdkVirtualFor="let make of items(); trackBy: trackById"
    class="data-row"
    role="row"
    mat-ripple
    (click)="clicked.emit(make)"
  >
    <div class="cell" role="cell">{{ make.name }}</div>
    <div class="cell" role="cell">{{ make.id }}</div>
  </div>
</cdk-virtual-scroll-viewport>
